body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 2em;
}

.sheet.padding-10mm {
  padding: 25mm 10mm;
}

.emoji {
  height: 12px;
}

dt {
  font-weight: bold;
}
