header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    flex: 1;
    display: flex;
    align-self: flex-start;
    padding: 10mm 10mm 2mm;

    img {
      height: 50px;
    }
  }

  div:last-child {
    justify-content: flex-end;

    span {
      font-size: 1.4em;
      color: #666;
      line-height: 50px;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    padding: 2mm 10mm 10mm;
    height: 50px;

    span {
      font-size: 1.4em;
      color: #666;
      line-height: 50px;
    }
  }
}

footer + h1 {
  margin-top: 0;
}
