.photo {
  img {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    max-width: 340px;
    height: auto;
  }
}

.photo-full {
  width: 100%;
  height: auto;
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
  }
}

.photo-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  img {
    max-width: 355px;
  }
}

