@charset 'UTF-8';
@page {
  size: A4;
}
@import 'bem';

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 2em;
}

img {
  max-height: 400px;
}

.sheet {
  @include modifier ('right') {
    background-color: lemonchiffon;
  }
}

.geometry {
  @include modifier ('right') {
    img {
      float: right;
      margin-left: 15px;
      margin-bottom: 10px;
      width: 340px;
      height: auto;
    }
  }

  @include modifier ('wide') {
    img {
      width: 100%;
      height: 340px;
    }
  }
}

.photo {
  img {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    width: 340px;
    height: auto;
  }
}

.routes {
  @include element ('topo') {}

  @include element ('columns') {
    break-inside: avoid;
    break-after: column;
    column-gap: 40px;

    @include modifier ('2') {
      column-count: 2;
    }
  }
}

.route {
  display: inline-block;
  width: 100%;

  @include modifier ('blank') {
    display: block;
    margin: 0;
    padding: 0;
  }

  @include element ('container') {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
  }

  @include element ('header') {
    display: flex;
    flex-direction: row;
    margin: 5px 0;

    @include element ('number') {
      background: black;
      padding: 2px;
      width: 20px;
      height: 21px;
      text-align: center;
      color: white;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include element ('name') {
      color: blue;
      font-weight: bold;
      padding: 0 5px;

      height: 25px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex: 1;
    }

    @include element ('extras') {
      height: 25px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    @include element ('grade') {
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: orange;
      border: 1px solid darkorange;
      border-radius: 4px;
      padding: 0 4px;
    }

    @include element ('style') {
      height: 25px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      border: 1px solid blue;
      border-left-width: 4px;
      border-radius: 4px;
      padding: 0 4px;
      margin: 0 4px;
    }

    @include element ('distance') {
      height: 25px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;

      .clip {
        margin-right: 2px;
      }
    }
  }

  @include element ('body') {
    display: flex;
  }

}
